extends layout

block content
  a(href='https://github.com/herdoy-almamun/blockchain/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Herdoy Almamun
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/O_yUe8qElYM?si=6eJmPDpiDKK8N5z1')
    br
    p.pull-right by 
      a(href='https://github.com/herdoy-almamun/') Herdoy Almamun
